
{% extends 'club_app/base.html' %}


{% block head %}
    <title>Attendance</title>

    <!-- 休日判定 -->
    <script src="https://cdn.jsdelivr.net/gh/osamutake/japanese-holidays-js@v1.0.10/lib/japanese-holidays.min.js"></script>
    {% load static%}
    <script src="{% static 'attendance/attendance.js' %}"></script>
    <link rel="stylesheet" href="{% static 'attendance/attendance.css' %}">
{% endblock %}

{% block content %}

    <div id="buttons-container">
        <ul>
            <li><button type="button" id="absent-button">欠席します</button></li>
            {% if request.user.is_staff %}
                <li><a href="activity">活動日の登録</a></li>
            {% endif %}
        </ul>
    </div>
    
    <div id="calender">
        <table>
            <tbody>
                <tr><th id="prev-month"><button><</button></th><th colspan="5" id="TableHead">YYYY-MM</th><th id="next-month"><button>></button></th></tr>
                <tr><th class="sunday">日</th><th>月</th><th>火</th><th>水</th><th>木</th><th>金</th><th class="saturday">土</th></tr>
                <tr><td class="sunday"></td><td></td><td></td><td></td><td></td><td></td><td class="saturday"></td></tr>
                <tr><td class="sunday"></td><td></td><td></td><td></td><td></td><td></td><td class="saturday"></td></tr>
                <tr><td class="sunday"></td><td></td><td></td><td></td><td></td><td></td><td class="saturday"></td></tr>
                <tr><td class="sunday"></td><td></td><td></td><td></td><td></td><td></td><td class="saturday"></td></tr>
                <tr><td class="sunday"></td><td></td><td></td><td></td><td></td><td></td><td class="saturday"></td></tr>
                <tr><td class="sunday"></td><td></td><td></td><td></td><td></td><td></td><td class="saturday"></td></tr>
            </tbody>
        </table>
    </div>
{% endblock %}