@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
}

:root{
    --header-height: 72px;
    --hov-color: #ff5443;
    --orenge: #fcbc80;
    --beige: #fffaef;
}

body {
    height: 100vh;
    width: 100vw;
    
    & header {
        display: flex;
        width: 100%;
        height: var(--header-height);
    
        border-bottom: 1px solid #cccac3;
        background-color: var(--beige);
    
        & a:hover,
          img:hover{
            color: var(--hov-color);
        }
    }
    & #content {
        padding: 25px;
        height: calc(100% - var(--header-height));
    }
}


#club_logo {
    position: absolute;
    left: 25px;

    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 250px;
    height: var(--header-height);

    border-radius: 10px;
    background: #f2ebd1;
    
    & video{
        width: auto;
        height: var(--header-height);
    }
}
@media screen and (max-width: 768px){
    #club_logo{
        display: none;
    }
}


nav {   
    position: absolute;
    right: 25px;

    display: flex;
}

#navigation_bar {
    display: flex;
    column-gap: 25px;
    padding: 18px 0;
    list-style-type: none;

    & a{
        font-family: 'Inter';
        font-size: 1.2em;
        font-weight: bold;
        color: #000000;
        text-decoration: none;
    }
    & :hover {
            color: var(--hov-color);
    }
}

.accordion{
    & ul{
        position: absolute;
        top: -10em;
        list-style-type: none;
        font-size: 1.2em;
        opacity: 0;
        transition: all 0.5s ease-out;
    
        & li{
            position: absolute;
            top: 0;
            border-bottom: 1px solid #ddd9d8;
            background-color: #e6ecee;
        }
    
        & :first-child{
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
        & :last-child{
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
        }
    }
    & ul.showing{
        opacity: 1;
        top: var(--header-height);
    
        & li{
            position: relative;
            top: 0;
        }
    }
    & a{
        display: block;
        width: 100%;
        height: 100%;
        padding: 0.2em 0.5em;
        font-family: 'Inter';
        font-size: 1em;
        font-weight: bold;
        color: #000000;
        text-decoration: none;
    }
    & :hover{
        color: var(--hov-color);
    }
}
#tools{
    padding: 18px 25px;
    position: relative;

    & button{
        font-family: 'Inter';
        font-size: 1.2em;
        font-weight: bold;
        color: #000000;
        text-align: center;
    }
    & button:hover{
        color: inherit;
    }
    & ul{
        z-index: 999;
        width: 5em;
        left: 0.5em;
    }
    &ul.showing{
        width: 5em;
        left: 0.5em;
    }

}

#user_icon {
    width: var(--header-height);
    height: var(--header-height);
    border-radius: 25px;
    position: relative;
    background-color: #525252;

    & img{
        width: 100%;
        height: 100%;
        border-radius: 25px;
        cursor: pointer;
    }
    & img:hover{
        opacity: 0.6;
    }

    & ul{
        z-index: 999;
        position: absolute;
        left: -5em;
        width: 9em;
        list-style-type: none;
        font-size: 1.2em;
        opacity: 0;
        transition: all 0.5s ease-out;


        & li{
            width: 100%;
            border-bottom: 1px solid #ddd9d8;
            background-color: #e6ecee;
        }
    }
    & ul.showing{
        opacity: 1;
        left: -5em;
        top: calc(var(--header-height));
        width: 9em;

        & li{
            position: relative;
            top: 0;
            right: 0;
            margin-right: 3em;
        }
        &a{
            display: block;
        }
    }
    & a{
        display: block;
        width: 100%;
        height: 100%;
        padding: 10px 25px;
        font-family: 'Inter';
        font-size: 1em;
        font-weight: bold;
        color: #000000;
        text-decoration: none;
    }
    & :hover{
        color: var(--hov-color);
    }
}