
{% extends 'club_app/base.html' %}


{% block head %}
    <title>information</title>
    {% load static%}
    <script src="{% static 'information/information.js' %}"></script>
    <link rel="stylesheet" href="{% static 'information/information.css' %}">
{% endblock %}

{% block content %}
    <h1>お知らせ</h1>
    <div id="form-wrap">
        <h2>新規投稿</h2>
        <form id="form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-box">
                    <label for="text-message">テキストメッセージ</label>
                    <textarea type="texr" name="text-message" id="text-message" class="input-text"></textarea>
                </div>
                <div class="form-box">
                    <label for="image-message">画像の添付</label>
                    <input type="file" name="image-message" id="image-message" class="input-text">
                </div>
                <div class="form-box">
                    <label for="file-message">ファイルの添付</label>
                    <input type="file" name="file-message" id="file-message" class="input-text">
                </div>
                <input type="submit" value="送信" id="submit">
            </form>
    </div>
    <div id="message-wrap">
        <h2>投稿一覧</h2>
        <div class="message-box">
            {% for message in messages %}
                {{ message | safe | linebreaksbr}}
            {% endfor %}
        </div>
{% endblock %}

