#content{
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 25px;
}
#exam-select-wrap{
    margin-left: 50px;
    display: flex;
    gap: 25px;
    align-items: center;
    & p {
        font-size: 1.6em;
    }
    & select {
        width: 150px;
        background-color: #fff;
        border: 1px solid #d2d6dc;
        border-radius: 5px;
        font-size: 14px;
        line-height: 1.45;
        outline: none;
        padding: 10px 13px;
    }
    & a {
        text-decoration: none;

        & div {
            padding: 10px;
            color: #000000;
            background-color: var(--beige);
            height: 40px;
            display: flex;
            align-items: center;
            border-radius: 5px;
            border: 1px solid #cccac3;
        }
    }
}
figure{
    gap : 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#score-table{
    max-height: 50%;
    max-width: 90%;
    margin: 2px;
    display: flex;
    align-items: center;
}
#chart_wrap{
    display: flex;
    justify-content: center;
    align-items: end;
    & #chart {
        height: 100% !important;
        width: 100% !important;
    }
}