@charset "UTF-8";

.buttons-container{
    margin: 5% auto 5%;

    & ul{
        display: flex;
        height: 6em;
        justify-content: center;
        align-items: center;
        list-style: none;
        column-gap: 64px;

        & li *{
            cursor: pointer;
            background-color: var(--orenge);
            text-decoration: none;
            font-size: 2em;
            color : #000000;
            padding: 1em;
            border: 2px solid #000000;
            border-radius: 12px;
        }
    }
}

#calender{
    margin: 0 12px;
}
#calender table{
    margin: auto;
}
#calender #TableHead{
    width: 25em;
}
#calender *{
    border: 1px solid #000000;
    border-collapse: collapse;
}
#calender th,
#calender td{
    width: 5em;
    height: 5em;
}
#calender td{
    text-align: center;
    position: relative;
    top: -15px;
    font-weight: bold;
}
#calender button{
    width: 100%;
    height: 100%;
    font-size: 2em;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
#calender button:hover{
    opacity: 0.5;
}
.attended::before{
    content: "";
    display: block; 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 15px;
    z-index: -1;
    background-color: #22ffda;
}

.absent::before{
    content: "";
    display: block; 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 15px;
    z-index: -1;
    background-color: #ff2222;
}

.activity::after{
    content: "◯";
    display: block; 
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 1.2em;
    top: 3.1em;
    z-index: -1;
}

#prev-month,
#next-month{
    cursor: pointer;
}


/* activity */

.selected::after{
    content: "";
    display: block; 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 15px;
    z-index: -1;
    background-color: #22ffda;
}