@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#calender table{
    margin: auto;
}
#calender #TableHead{
    width: 480px;
}
#calender *{
    border: 1px solid #000000;
    border-collapse: collapse;
}
#calender th,
#calender td{
    width: 60px;
    height: 60px;
}
#calender td{
    text-align: center;
    position: relative;
    top: -15px; 
}
.attended::after{
    content: "";
    display: block; 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 15px;
    z-index: -1;
    background-color: #22ffda;
}
#prev-month,
#next-month{
    cursor: pointer;
}


/* activity */

.selected::after{
    content: "";
    display: block; 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 15px;
    z-index: -1;
    background-color: #bbbb00;
}